*{
    font-family: calibri,bold;
    box-sizing: border-box;
}

.wrapper{
    width: 1400px;
    margin: auto;
}

body {
    margin: 0;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

/* --------------------------------------------------------------------- */
/* HEADER */

    /* MENU BURGER */

.navbar{
    display: flex;
    background-color: transparent;
    padding: 1rem;
    justify-content:space-between;
    gap: 5rem;
    align-items: center;
}

a{
    text-decoration: none;
    font-size: 1.5rem;
    color: aliceblue;   
}
nav{
    display: flex;
    gap: 1rem;
}

.nav.active{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    width: 100%;
    align-items: center;
    padding: 1rem 0;
}

#burger{
    /* display: none; */
    color: white;
    background-color: transparent;
    margin-right: 5rem;
    border: 2px solid white;
    height: fit-content;


}

    /* IMAGE HEADER */

.forest{
    object-fit: contain;
    width: 100%;  
}

    /* TEXTE HEADER */

.contain_img{
    position: relative;
}

.text_img{
    position: absolute;
    color: white;
    font-size: 2rem;
    text-align: center;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    /* centrer du texte sur img  */
    /* https://www.alsacreations.com/article/lire/539-Centrer */
}

    /* BOUTON IMG */

.read_more{
    background-color: transparent;
    color: aliceblue;
    border: 2px solid white;
    font-size: 1.5rem;
    /* permet d'arrondir les bords */
    border-radius: 5px;
}

/* ---------------------------------------------------------------- */

/* SECTION */

.section{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}
